body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  width: 85%;
  margin: auto;
}

.form-select {
  width: 200px;
}

.pagination .page-link {
  color: #3498db;
}

.pagination .page-link:hover {
  background-color: #3498db;
  color: #ffffff;
}

.collapse .card {
  background-color: #bdc3c7;
}

.card {
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.table,
.table-ventas {
  background-color: #ffffff;
  color: #2c3e50;
  border-radius: 5px;
  /* overflow: hidden; */
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.table th,
.table td,
.table-ventas th,
.table-ventas td {
  padding: 12px 15px;
  border-bottom: 1px solid #e7e7e7;
}

.table thead th,
.table-ventas thead th {
  background-color: #3498db;
  color: #ffffff;
  font-weight: 500;
}

.table tbody tr:last-child td,
.table-ventas tbody tr:last-child td {
  border-bottom: none;
}

.table tbody tr:hover,
.table-ventas tbody tr:hover {
  background-color: #e7e7e7;
}

/* Estilo para centrar cabeceras */
td,
th {
  text-align: center;
  vertical-align: middle;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 6px 12px;
  font-size: 0.875rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.btn-info {
  background-color: #3498db;
  color: #fff;
}

.btn-info:hover {
  background-color: #2980b9;
}

.btn-warning {
  background-color: #f39c12;
  color: #fff;
}

.btn-warning:hover {
  background-color: #d68910;
}

.table-hover tbody tr:hover {
  color: #2c3e50;
  background-color: #b2bec3;
}

.modal-content {
  background-color: #ffffff;
  color: #2c3e50;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.ticket {
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  margin: auto;
  max-width: 500px;
  padding: 20px;
  font-family: "Arial", sans-serif;
  line-height: 1.8;
  color: #333;
}

.ticket p {
  margin: 0 0 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 8px;
}

.ticket p:last-child {
  border-bottom: none;
}

#map {
  height: 500px;
  margin: 20px 0;
}

.btn-close {
  background-color: #d32f2f; /* Un tono rojo intenso */
  border: none;
  color: #ffffff; /* Cambia el color de la "X" a blanco */
  opacity: 1; /* Asegura que el botón sea completamente opaco */
}

.btn-close:hover {
  background-color: #c12727; /* Un tono rojo ligeramente más oscuro para el efecto "hover" */
}

.btn-close:focus {
  box-shadow: none;
  outline: none; /* Elimina cualquier borde adicional en el foco */
}

.btn-regresar {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.btn-regresar:hover {
  background-color: #2980b9;
}

.cursor-pointer {
  cursor: pointer;
}

h1.mb-4.text-center {
  color: #2c3e50;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 600;
}

/* Espaciado entre columnas del modal */
.modal-body .col-md-4 {
  padding-left: 10px;
  padding-right: 10px;
}

/* Espacio superior e inferior para botones dentro del modal */
.modal-body .btn {
  margin-top: 20px;
}

.dropdown-menu {
  z-index: 9999 !important;
}
